<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>Priority</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      Straatnamen + Waarom het een priority is
    </clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title>Warning</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
  </clr-accordion-panel>
  <clr-accordion-panel>
    <clr-accordion-title>Info</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
