<!--<pre>-->
<!--  {{this.logs | json}}-->
<!--</pre>-->

<clr-datagrid>
  <clr-dg-column>sensor ID</clr-dg-column>
  <clr-dg-column>Trash</clr-dg-column>
  <clr-dg-column>Creation date</clr-dg-column>
  <clr-dg-column>CO2 (ppm)</clr-dg-column>

  <clr-dg-row *ngFor="let log of logs">
    <clr-dg-cell><a routerLink="/sensor/{{log?.sensorId}}">{{log?.sensorId}}</a></clr-dg-cell>
    <clr-dg-cell>{{log?.trash}}</clr-dg-cell>
    <clr-dg-cell>{{log?.createdAt | date}}</clr-dg-cell>
    <clr-dg-cell>{{log?.sensors.eCO2Sensor}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{logs?.length}} Sensor readings</clr-dg-footer>
</clr-datagrid>
